{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "browser": ["> 1%", "last 2 versions", "not ie <= 10"]
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-vue-jsx",
    "transform-runtime",
    "syntax-dynamic-import"
  ]
}
